# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test

foneem/.sass-cache
foneem/conf.json

*.pyc

foneem/static/js/hvb-audio-animation-ck.js

foneem/static/js/hvb-audio-record-ck.js

foneem/static/js/hvb-main-ck.js

foneem/static/js/hvb-calibrate-ck.js

foneem/static/js/hvb-opacity-ck.js

foneem/static/js/hvb-sentence-ck.js

foneem/static/js/hvb-audio-ck.js
