<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js recording-studio calibrate"> <!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>The Human Voicebank - Calibration Screen</title>
    <meta name="description" content="The Human Voicebank is an initiative dedicated to exploring the frontiers of human voice.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:image" content="http://www.northeastern.edu/humanvoicebank/images/rupal-ted.png"/>

    <!-- Bootstrap CSS -->
    <link href="static/css/application.css" rel="stylesheet" type="text/css">
    <link href="static/css/animations.css" rel="stylesheet" type="text/css">
    
    <!-- Mailchimp CSS -->
    <link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">

    <!-- Fonts -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Josefin+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:700,900' rel='stylesheet' type='text/css'>
    
    <!-- IE -->
    <!--[if lt IE 9]> <script> document.createElement('video'); </script> <![endif]-->
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-custom">
<!-- Facebook -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=763373647030403";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="./">
                <img src="static/images/hvb-icon.svg" width="40px" height="40px">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#" data-toggle="modal" data-target="#record-modal">Record</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#" data-toggle="modal" data-target="#donate-modal">Donate</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#" data-toggle="modal" data-target="#story-modal">Our Story</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#contact">Stay Informed</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <section id="record-studio" class="container content-section text-center">
        <div class="back-wall">
            <div class="wall-row">
                <div class="wall-cell-container">
                    <div id="r1s1" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r1s2" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r1s3" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r1s4" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r1s5" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r1s6" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r1s7" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r1s8" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r1s9" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r1s10" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r1s11" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r1s12" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r1s13" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r1s14" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r1s15" class="wall-cell"></div>
                </div>
            </div>
            <div class="wall-row">
                <div class="wall-cell-container">
                    <div id="r2s1" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r2s2" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r2s3" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r2s4" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r2s5" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r2s6" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r2s7" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r2s8" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r2s9" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r2s10" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r2s11" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r2s12" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r2s13" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r2s14" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r2s15" class="wall-cell"></div>
                </div>
            </div>
            <div class="wall-row">
                <div class="wall-cell-container">
                    <div id="r3s1" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r3s2" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r3s3" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r3s4" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r3s5" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r3s6" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r3s7" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r3s8" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r3s9" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r3s10" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r3s11" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r3s12" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r3s13" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r3s14" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r3s15" class="wall-cell"></div>
                </div>
            </div>
            <div class="wall-row">
                <div class="wall-cell-container">
                    <div id="r4s1" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r3s2" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r3s3" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r3s4" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r3s5" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r3s6" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r3s7" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r3s8" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r3s9" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r3s10" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r3s11" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r3s12" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r3s13" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r3s14" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r3s15" class="wall-cell"></div>
                </div>
            </div>
            <div class="wall-row">
                <div class="wall-cell-container">
                    <div id="r5s1" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r3s2" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r3s3" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r3s4" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r3s5" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r3s6" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r3s7" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r3s8" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r3s9" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r3s10" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r3s11" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r3s12" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r3s13" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r3s14" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r3s15" class="wall-cell"></div>
                </div>
            </div>
            <div class="wall-row">
                <div class="wall-cell-container">
                    <div id="r6s1" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r3s2" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r3s3" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r3s4" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r3s5" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r3s6" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r3s7" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r3s8" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r3s9" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r3s10" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r3s11" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r3s12" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r3s13" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r3s14" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r3s15" class="wall-cell"></div>
                </div>
            </div>
            <div class="wall-row">
                <div class="wall-cell-container">
                    <div id="r7s1" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r3s2" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r3s3" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r3s4" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r3s5" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r3s6" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r3s7" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r3s8" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r3s9" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r3s10" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r3s11" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r3s12" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r3s13" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r3s14" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r3s15" class="wall-cell"></div>
                </div>
            </div>
            <div class="wall-row">
                <div class="wall-cell-container">
                    <div id="r8s1" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r3s2" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r3s3" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r3s4" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r3s5" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r3s6" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r3s7" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r3s8" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r3s9" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r3s10" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r3s11" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r3s12" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r3s13" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r3s14" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r3s15" class="wall-cell"></div>
                </div>
            </div>
        </div>
        <div class="calibrate volume">
            <div id="volume-1"></div>
            <div id="volume-2"></div>
            <div id="volume-3"></div>
            <div id="volume-4"></div>
            <div id="volume-5"></div>
            <div id="volume-6"></div>
            <div id="volume-7"></div>
        </div>
        <a href="#" class="btn btn-default btn-record btn-calibrate"><i class="fa fa-microphone fa-fw"></i> <span>Calibrate Mic</span></a>
    </section>


    <!-- Core JavaScript Files -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
    
    <!-- Custom JavaScript Files -->
    <script src="static/js/calibrate.js"></script>
    <script src="static/js/tp/easing-scrolling.js"></script>
    <script src="static/js/tp/jquery.responsiveVideo.js"></script>
    
    <script>
    $( 'body' ).responsiveVideo();
    </script>
    <script>
  $(function() {
    $( ".modal" ).draggable();
  });
  </script>
  <script>
    $('#r1s8').click(function() {
        $(this).addClass("pulse");
    });
  </script>

</body>

</html>