<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js recording-studio"> <!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>The Human Voicebank - Virtual Recording Studio</title>
    <meta name="description" content="The Human Voicebank is an initiative dedicated to exploring the frontiers of human voice.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:image" content="http://www.northeastern.edu/humanvoicebank/images/rupal-ted.png"/>

    <!-- Bootstrap CSS -->
    <link href="static/css/application.css" rel="stylesheet" type="text/css">
    <link href="static/css/animations.css" rel="stylesheet" type="text/css">
    
    <!-- Mailchimp CSS -->
    <link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">

    <!-- Fonts -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Josefin+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:700,900' rel='stylesheet' type='text/css'>
    

	<style>

	canvas {
		display: inline-block;
		background: #202020;
		width: 100%;
		height: 100%;
		box-shadow: 0px 0px 10px blue;
	}
	@media (orientation: landscape) {
		body { flex-direction: row;}
	}

.modal-content_calibrate {
  modal-content;
  background-color: #0480be;
}
.modal-body_calibrate {
  modal-body;
  background-color: #000000;
}
	</style>

    
    <!-- IE -->
    <!--[if lt IE 9]> <script> document.createElement('video'); </script> <![endif]-->
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-custom">
<!-- Facebook -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=763373647030403";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header page-scroll">
                <a class="navbar-brand" href="./">
                <img src="static/images/hvb-icon.svg" width="40px" height="40px">
                </a>
            </div>
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#" id="hvb-tutorial-link" data-toggle="modal" data-target="#tutorial-modal"><i class="fa fa-question-circle" style="font-size: 26px"></i></a> 
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.container -->
    </nav>


    <section id="recording-studio" class="container content-section text-center">
        <div class="back-wall">
            <div class="wall-row">
                <div class="wall-cell-container">
                    <div id="r0s1" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r0s2" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r0s3" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r0s4" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r0s5" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r0s6" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r0s7" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r0s8" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r0s9" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r0s10" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r0s11" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r0s12" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r0s13" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r0s14" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r0s15" class="wall-cell"></div>
                </div>
            </div>
            <div class="wall-row">
                <div class="wall-cell-container">
                    <div id="r1s1" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r1s2" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r1s3" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container"><p>v</p>
                    <div id="r1s4" class="wall-cell lightblue"></div>
                    <div id="filler-r1s4" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r1s5" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r1s6" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r1s7" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r1s8" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r1s9" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r1s10" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r1s11" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container"><p>j</p>
                    <div id="r1s12" class="wall-cell pink"></div>
                    <div id="filler-r1s12" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r1s13" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r1s14" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r1s15" class="wall-cell"></div>
                </div>
            </div>
            <div class="wall-row">
                <div class="wall-cell-container">
                    <div id="r2s1" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r2s2" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r2s3" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container"><p>f</p>
                    <div id="r2s4" class="wall-cell lightblue"></div>
                    <div id="filler-r2s4" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container"><p>l</p>
                    <div id="r2s5" class="wall-cell green"></div>
                    <div id="filler-r2s5" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r2s6" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r2s7" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r2s8" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r2s9" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r2s10" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container"><p>&#0638;</p>
                    <div id="r2s11" class="wall-cell red"></div>
                    <div id="filler-r2s11" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container"><p>w</p>
                    <div id="r2s12" class="wall-cell pink"></div>
                    <div id="filler-r2s12" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r2s13" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r2s14" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r2s15" class="wall-cell"></div>
                </div>
            </div>
            <div class="wall-row">
                <div class="wall-cell-container">
                    <div id="r3s1" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r3s2" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r3s3" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container"><p>&eth;</p>
                    <div id="r3s4" class="wall-cell blue"></div>
                    <div id="filler-r3s4" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container"><p>n</p>
                    <div id="r3s5" class="wall-cell green"></div>
                    <div id="filler-r3s5" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r3s6" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r3s7" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r3s8" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r3s9" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container"><p>u</p>
                    <div id="r3s10" class="wall-cell yellowgreen"></div>
                    <div id="filler-r3s10" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container"><p>r</p>
                    <div id="r3s11" class="wall-cell red"></div>
                    <div id="filler-r3s11" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container"><p>&#x14B;</p>
                    <div id="r3s12" class="wall-cell purplepink"></div>
                    <div id="filler-r3s12" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r3s13" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r3s14" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r3s15" class="wall-cell"></div>
                </div>
            </div>
            <div class="wall-row">
                <div class="wall-cell-container">
                    <div id="r4s1" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r4s2" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r4s3" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container"><p>&theta;</p>
                    <div id="r4s4" class="wall-cell blue"></div>
                    <div id="filler-r4s4" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container"><p>z</p>
                    <div id="r4s5" class="wall-cell green"></div>
                    <div id="filler-r4s5" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container"><p>i</p>
                    <div id="r4s6" class="wall-cell yellowgreen"></div>
                    <div id="filler-r4s6" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r4s7" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r4s8" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r4s9" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container"><p>&#x28A;</p>
                    <div id="r4s10" class="wall-cell yellowgreen"></div>
                    <div id="filler-r4s10" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container"><p>&#x2A4;</p>
                    <div id="r4s11" class="wall-cell red"></div>
                    <div id="filler-r4s11" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container"><p>g</p>
                    <div id="r4s12" class="wall-cell purplepink"></div>
                    <div id="filler-r4s12" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r4s13" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r4s14" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r4s15" class="wall-cell"></div>
                </div>
            </div>
            <div class="wall-row">
                <div class="wall-cell-container">
                    <div id="r5s1" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r5s2" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r5s3" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container"><p>m</p>
                    <div id="r5s4" class="wall-cell darkblue"></div>
                    <div id="filler-r5s4" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container"><p>s</p>
                    <div id="r5s5" class="wall-cell green"></div>
                    <div id="filler-r5s5" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container"><p>&#x26A;</p>
                    <div id="r5s6" class="wall-cell yellowgreen"></div>
                    <div id="filler-r5s6" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r5s7" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r5s8" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r5s9" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container"><p>o</p>
                    <div id="r5s10" class="wall-cell yellowgreen"></div>
                    <div id="filler-r5s10" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container"><p>&#x292;</p>
                    <div id="r5s11" class="wall-cell red"></div>
                    <div id="filler-r5s11" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container"><p>k</p>
                    <div id="r5s12" class="wall-cell purplepink"></div>
                    <div id="filler-r5s12" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r5s13" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r5s14" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r5s15" class="wall-cell"></div>
                </div>
            </div>
            <div class="wall-row">
                <div class="wall-cell-container">
                    <div id="r6s1" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r6s2" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r6s3" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container"><p>b</p>
                    <div id="r6s4" class="wall-cell darkblue"></div>
                    <div id="filler-r6s4" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container"><p>d</p>
                    <div id="r6s5" class="wall-cell green"></div>
                    <div id="filler-r6s5" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container"><p>e</p>
                    <div id="r6s6" class="wall-cell yellowgreen"></div>
                    <div id="filler-r6s6" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container"><p>&#x259;</p>
                    <div id="r6s7" class="wall-cell yellowgreen"></div>
                    <div id="filler-r6s7" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r6s8" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container"><p>&#652;</p>
                    <div id="r6s9" class="wall-cell yellowgreen"></div>
                    <div id="filler-r6s9" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container"><p>&#x2A7;</p>
                    <div id="r6s10" class="wall-cell yellowgreen"></div>
                    <div id="filler-r6s10" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container"><p>&#0596;</p>
                    <div id="r6s11" class="wall-cell red"></div>
                    <div id="filler-r6s11" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container"><p>h</p>
                    <div id="r6s12" class="wall-cell purple"></div>
                    <div id="filler-r6s12" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r6s13" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r6s14" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r6s15" class="wall-cell"></div>
                </div>
            </div>
            <div class="wall-row">
                <div class="wall-cell-container">
                    <div id="r7s1" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r7s2" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r7s3" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container"><p>p<p>
                    <div id="r7s4" class="wall-cell darkblue"></div>
                    <div id="filler-r7s4" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container"><p>t<p>
                    <div id="r7s5" class="wall-cell green"></div>
                    <div id="filler-r7s5" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container"><p>ɛ<p>
                    <div id="r7s6" class="wall-cell yellowgreen"></div>
                    <div id="filler-r7s6" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container"><p>æ<p>
                    <div id="r7s7" class="wall-cell yellowgreen"></div>
                    <div id="filler-r7s7" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container"><p>a<p>
                    <div id="r7s8" class="wall-cell yellowgreen"></div>
                    <div id="filler-r7s8" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container"><p>ɔ˞<p>
                    <div id="r7s9" class="wall-cell yellowgreen"></div>
                    <div id="filler-r7s9" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container"><p>ɑ<p>
                    <div id="r7s10" class="wall-cell yellowgreen"></div>
                    <div id="filler-r7s10" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container"><p>ʃ<p>
                    <div id="r7s11" class="wall-cell red"></div>
                    <div id="filler-r7s11" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container"><p>ʔ<p>
                    <div id="r7s12" class="wall-cell purple"></div>
                    <div id="filler-r7s12" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r7s13" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r7s14" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r7s15" class="wall-cell"></div>
                </div>
            </div>
            <div class="wall-row">
                <div class="wall-cell-container">
                    <div id="r8s1" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r8s2" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r8s3" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r8s4" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r8s5" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container"><p>aɪ</p>
                    <div id="r8s6" class="wall-cell yellow"></div>
                    <div id="filler-r8s6" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container"><p>eɪ</p>
                    <div id="r8s7" class="wall-cell yellow"></div>
                    <div id="filler-r8s7" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container"><p>ɔɪ</p>
                    <div id="r8s8" class="wall-cell yellow"></div>
                    <div id="filler-r8s8" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container"><p>aʊ</p>
                    <div id="r8s9" class="wall-cell yellow"></div>
                    <div id="filler-r8s9" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container"><p>oʊ</p>
                    <div id="r8s10" class="wall-cell yellow"></div>
                    <div id="filler-r8s10" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r8s11" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r8s12" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r8s13" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r8s14" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r8s15" class="wall-cell"></div>
                </div>
            </div>
            <div class="wall-row">
                <div class="wall-cell-container">
                    <div id="r9s1" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r9s2" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r9s3" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r9s4" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r9s5" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r9s6" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r9s7" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r9s8" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r9s9" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r9s10" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r9s11" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r9s12" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r9s13" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r9s14" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r9s15" class="wall-cell"></div>
                </div>
            </div>
        </div>
        <button id="hvb-record-sentence" class="hvb-record"><i class="fa fa-circle"></i><br>Record</button>
        <button id="hvb-play-sentence"><i class='fa fa-play disabled'></i><br>Playback</button>
        <div class="hvb-volume-wrapper">
            <div class="hvb-volume">
                <canvas id="hvb-analyser" width="256" height="256" class="hvb-volume-canvas"></canvas>
            </div>
        </div>

        <div id="hvb-sentence-console" class="hvb-sentence">
        </div>
        <button id="hvb-next-sentence"><i class="fa fa-step-forward disabled"></i><br>Next</button>
        <button id="hvb-settings" data-toggle="modal" data-target="#hvb-settings-modal"><i class="fa fa-cog"></i><br>Account</button>
    </section>

<div class="modal fade" id="hvb-calibrate-modal" tabindex="-1" role="dialog" aria-labelledby="hvb-calibrate-modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content_calibrate">
            <div class="modal-header">
                <h4 class="modal-title" id="hvb-calibrate-modalLabel"></h4>
            </div>
            <div class="modal-body_calibrate">
                <canvas id="hvb-calibrate-analyser" class="hvb-calibration-canvas" width="512" height="768"></canvas>
            </div>
            <div class="modal-footer">
                <center><button id="hvb-calibrate-button" class="btn btn-default btn-record btn-calibrate"><i class="fa fa-microphone fa-fw"></i> <span>Calibrating... </span></button></center>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="hvb-settings-modal" tabindex="-1" role="dialog" aria-labelledby="hvb-settings-modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="hvb-settings-modalLabel">Settings</h4>
            </div>
            <div class="modal-body">
                <table class="table table-striped">
                    <tr>
                        <td style="padding:0 15px 0 15px;"><div id="hvb-total-complete"><label for="hvb-session-1" class="col-5 control-label"><p>Total sentences completed completed</p></label></div></td>
                        <td style="padding:0 15px 0 15px;"><div id="hvb-session-setting0" class="col-10"><input readonly="readonly" class="form-control" id="hvb-session-1" placeholder="Session"></div></td>
                    </tr>
                    <tr>
                        <td style="padding:0 15px 0 15px;"><label for="hvb-session-2" class="col-5 control-label"><p>Sentences per session</p></label></td>
                        <td style="padding:0 15px 0 15px;"><div id="hvb-session-setting" class="col-10">
                          <input class="form-control" id="hvb-session-2" placeholder="Session">
                        </div></td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button id="hvb-settings-logout" type="button" class="btn btn-default" data-dismiss="modal">Sign out</button>
                <button id="hvb-settings-save" type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div id="hvb-session-continue" class="modal fade"  tabindex="-1" role="dialog" aria-labelledby="hvb-session-continueLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="hvb-session-continueLabel">Your session is complete!</h4>
            </div>
            <div class="modal-footer">
                <button id="hvb-session-continue-logout" type="button" class="btn btn-default" data-dismiss="modal">Sign out</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Continue</button>
            </div>
        </div>
    </div>
</div>

<!-- Core JavaScript Files -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>

<!-- Custom JavaScript Files -->
<script src="static/js/tp/audioDisplay.js"></script>
<script src="static/js/hvb-websock.js"></script>
<script src="static/js/hvb-opacity.js"></script>
<script src="static/js/hvb-sentence.js"></script>
<script src="static/js/hvb-audio.js"></script>
<script src="static/js/hvb-audio-animation.js"></script>
<script src="static/js/hvb-audio-record.js"></script>
<script src="static/js/hvb-calibrate.js"></script>
<script src="static/js/hvb-main.js"></script>

<script src="static/js/tp/easing-scrolling.js"></script>
<script src="static/js/tp/jquery.responsiveVideo.js"></script>

    <script>
    $( 'body' ).responsiveVideo();
    </script>
    <script>
  $(function() {
    $( ".modal" ).draggable();
  });
  </script>
</body>

</html>
