<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js recording-studio"> <!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>The Human Voicebank - Virtual Recording Studio</title>
    <meta name="description" content="The Human Voicebank is an initiative dedicated to exploring the frontiers of human voice.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:image" content="http://www.northeastern.edu/humanvoicebank/images/rupal-ted.png"/>

    <!-- Bootstrap CSS -->
    <link href="static/css/application.css" rel="stylesheet" type="text/css">
    <link href="static/css/animations.css" rel="stylesheet" type="text/css">
    
    <!-- Mailchimp CSS -->
    <link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">

    <!-- Fonts -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Josefin+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:700,900' rel='stylesheet' type='text/css'>
    
	<style>
	html { overflow: hidden; }
	body { 
		font: 14pt Arial, sans-serif; 
		background: lightgrey;
		display: flex;
		flex-direction: column;
		height: 100vh;
		width: 100%;
		margin: 0 0;
	}
	canvas { 
		display: inline-block; 
		background: #202020; 
		width: 100%;
		height: 100%;
		box-shadow: 0px 0px 10px blue;
	}
	#controls {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
		height: 20%;
		width: 100%;
	}
	#record { height: 15vh; }
	#record.recording { 
		background: red;
		background: -webkit-radial-gradient(center, ellipse cover, #ff0000 0%,lightgrey 75%,lightgrey 100%,#7db9e8 100%); 
		background: -moz-radial-gradient(center, ellipse cover, #ff0000 0%,lightgrey 75%,lightgrey 100%,#7db9e8 100%); 
		background: radial-gradient(center, ellipse cover, #ff0000 0%,lightgrey 75%,lightgrey 100%,#7db9e8 100%); 
	}
	#save, #save img { height: 10vh; }
	#save { opacity: 0.25;}
	#save[download] { opacity: 1;}
	#viz {
		height: 80%;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
	}
	@media (orientation: landscape) {
		body { flex-direction: row;}
		#controls { flex-direction: column; height: 100%; width: 10%;}
		#viz { height: 100%; width: 90%;}
	}

	</style>

    
    <!-- IE -->
    <!--[if lt IE 9]> <script> document.createElement('video'); </script> <![endif]-->
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-custom">
<!-- Facebook -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=763373647030403";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header page-scroll">
                <a class="navbar-brand" href="./">
                <img src="static/images/hvb-icon.svg" width="40px" height="40px">
                </a>
            </div>
        </div>
        <!-- /.container -->
    </nav>

    <section id="recording-studio" class="container content-section text-center">
        <div class="back-wall">
            <div class="wall-row">
                <div class="wall-cell-container">
                    <div id="r1s1" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r1s2" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r1s3" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r1s4" class="wall-cell lightblue"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r1s5" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r1s6" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r1s7" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r1s8" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r1s9" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r1s10" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r1s11" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r1s12" class="wall-cell pink"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r1s13" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r1s14" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r1s15" class="wall-cell"></div>
                </div>
            </div>
            <div class="wall-row">
                <div class="wall-cell-container">
                    <div id="r2s1" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r2s2" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r2s3" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r2s4" class="wall-cell lightblue"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r2s5" class="wall-cell green"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r2s6" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r2s7" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r2s8" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r2s9" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r2s10" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r2s11" class="wall-cell red"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r2s12" class="wall-cell pink"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r2s13" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r2s14" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r2s15" class="wall-cell"></div>
                </div>
            </div>
            <div class="wall-row">
                <div class="wall-cell-container">
                    <div id="r3s1" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r3s2" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r3s3" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r3s4" class="wall-cell blue"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r3s5" class="wall-cell green"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r3s6" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r3s7" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r3s8" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r3s9" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r3s10" class="wall-cell yellowgreen"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r3s11" class="wall-cell red"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r3s12" class="wall-cell purplepink"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r3s13" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r3s14" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r3s15" class="wall-cell"></div>
                </div>
            </div>
            <div class="wall-row">
                <div class="wall-cell-container">
                    <div id="r4s1" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r4s2" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r4s3" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r4s4" class="wall-cell blue"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r4s5" class="wall-cell green"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r4s6" class="wall-cell yellowgreen"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r4s7" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r4s8" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r4s9" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r4s10" class="wall-cell yellowgreen"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r4s11" class="wall-cell red"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r4s12" class="wall-cell purplepink"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r4s13" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r4s14" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r4s15" class="wall-cell"></div>
                </div>
            </div>
            <div class="wall-row">
                <div class="wall-cell-container">
                    <div id="r5s1" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r5s2" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r5s3" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r5s4" class="wall-cell darkblue"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r5s5" class="wall-cell green"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r5s6" class="wall-cell yellowgreen"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r5s7" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r5s8" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r5s9" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r5s10" class="wall-cell yellowgreen"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r5s11" class="wall-cell red"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r5s12" class="wall-cell purplepink"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r5s13" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r5s14" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r5s15" class="wall-cell"></div>
                </div>
            </div>
            <div class="wall-row">
                <div class="wall-cell-container">
                    <div id="r6s1" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r6s2" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r6s3" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r6s4" class="wall-cell darkblue"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r6s5" class="wall-cell green"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r6s6" class="wall-cell yellowgreen"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r6s7" class="wall-cell yellowgreen"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r6s8" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r6s9" class="wall-cell yellowgreen"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r6s10" class="wall-cell yellowgreen"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r6s11" class="wall-cell red"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r6s12" class="wall-cell purple"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r6s13" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r6s14" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r6s15" class="wall-cell"></div>
                </div>
            </div>
            <div class="wall-row">
                <div class="wall-cell-container">
                    <div id="r7s1" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r7s2" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r7s3" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r7s4" class="wall-cell darkblue"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r7s5" class="wall-cell green"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r7s6" class="wall-cell yellowgreen"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r7s7" class="wall-cell yellowgreen"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r7s8" class="wall-cell yellowgreen"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r7s9" class="wall-cell yellowgreen"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r7s10" class="wall-cell yellowgreen"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r7s11" class="wall-cell red"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r7s12" class="wall-cell purple"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r7s13" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r7s14" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r7s15" class="wall-cell"></div>
                </div>
            </div>
            <div class="wall-row">
                <div class="wall-cell-container">
                    <div id="r8s1" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r8s2" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r8s3" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r8s4" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r8s5" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r8s6" class="wall-cell yellow"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r8s7" class="wall-cell yellow"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r8s8" class="wall-cell yellow"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r8s9" class="wall-cell yellow"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r8s10" class="wall-cell yellow"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r8s11" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r8s12" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r8s13" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r8s14" class="wall-cell"></div>
                </div>
                <div class="wall-cell-container">
                    <div id="r8s15" class="wall-cell"></div>
                </div>
            </div>
        </div>
        <button id="hvb_recordsentence" class="hvb_record">Record</button>
        <button id="hvb_playsentence">Play</button>
        <div class="hvb_volume">
            <canvas id="analyser" width="1024" height="500"></canvas>
            
            <!-- div id="hvb_volume1"></div>
            <div id="hvb_volume2"></div>
            <div id="hvb_volume3"></div>
            <div id="hvb_volume4"></div>
            <div id="hvb_volume5"></div>
            <div id="hvb_volume6"></div>
            <div id="hvb_volume7"></div -->
        </div>
        <div class="hvb_sentence"></div>
        <div class="hvb_pitch">
            <canvas id="wavedisplay" width="1024" height="500"></canvas>            
            <!-- div id="hvb_pitch1"></div>
            <div id="hvb_pitch2"></div>
            <div id="hvb_pitch3"></div>
            <div id="hvb_pitch4"></div>
            <div id="hvb_pitch5"></div>
            <div id="hvb_pitch6"></div>
            <div id="hvb_pitch7"></div -->
        </div>
        <button id="hvb_nextsentence">Next</button>
        <button id="hvb_settings">Settings</button>
    </section>

        {% for key, value in next_hvb.items() %}
              <p hidden class="hvb_next">{{key}},{{value}}</p>
        {% endfor %}    
    <!-- Core JavaScript Files -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
    <script src="static/js/hvb_record.js"></script>
    <!-- Custom JavaScript Files -->
    <script src="static/js/tp/easing-scrolling.js"></script>
    <script src="static/js/tp/jquery.responsiveVideo.js"></script>
    <script src="static/js/tp/audioDisplay.js"></script>
	<script src="static/js/tp/recorder.js"></script>
	<script src="static/js/tp/main.js"></script>
    
    <script>
    $( 'body' ).responsiveVideo();
    </script>
    <script>
  $(function() {
    $( ".modal" ).draggable();
  });
  </script>
</body>

</html>