<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>What Vocal Type Are You? | VocaliD</title>
    <meta name="description" content="Analyze your words and learn more about your own voice with the VocaliD Voice Typer.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="What Vocal Type Are You? | VocaliD"/>
    <meta property="og:description" content="Analyze your words and learn more about your own voice with the VocaliD Voice Typer."/>
    <meta property="og:image" content=""/>

    <!-- Bootstrap CSS -->
    <link href="static/css/application.css" rel="stylesheet" type="text/css">
    <link href="static/css/animate.css" rel="stylesheet" type="text/css">
    <link href="static/css/lightSlider.css" rel="stylesheet" type="text/css">   
    
    <!-- Mailchimp CSS -->
    <link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">

    <!-- Fonts -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Karla:400,700,900' rel='stylesheet' type='text/css'>
    
    <!-- IE -->
    <!--[if lt IE 9]> <script> document.createElement('video'); </script> <![endif]-->
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-custom" class="page-type">
<!-- Facebook -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=763373647030403";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="./">
                <img src="static/images/vocalid-icon.svg" width="40px" height="40px">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="about">About Us</a>
                    </li>
                    <li class="page-scroll">
                        <a href="how">How It Works</a>
                    </li>
                    <li class="page-scroll">
                        <a href="voicebank">Voicebank</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#" id="hvb-record-link" data-toggle="modal" data-target="#coming-soon-modal">Login</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <section id="us-about" class="content-section">
        <div class="container">
            <div class="about-text row">
                <h2 id="about-slogan">What Vocal Type Are You?</h2>
                <h3 id="about-subslogan">Thank you for your interest in VocaliD! If you're at TEDMED 2014 and have yet to take our Vocal Type quiz, come find our booth at The Hive. Learn more about our work on crafting unique vocal personas at <a href="http://www.vocalid.co">vocalid.co</a> — or message us on <a href="http://www.twitter.com/vocalidinc">Twitter</a> and <a href="http://www.facebook.com/vocalidinc">Facebook</a>.</h3>
                <a href="#us-team"><h1 id="about-h1" class="text-center btn btn-record">See All Vocal Types</h1></a>
            </div>
        </div>
    </section>

    <section id="us-team"  class="container-fluid content-section text-center">
        <div class="row-fluid">
            <h2 style="text-align:center;font-weight:bold;">Tweet Your Type</h2>
            <div class="col-lg-3">
                <img src="static/images/type-steam.jpg">
                <h4>SHBN (Steam)</h4>
                <p><strong>S</strong>oft, <strong>H</strong>igh, <strong>B</strong>reathy, and <strong>N</strong>asal</p>
                <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://vocalid.co/type?t=anchor" data-text="I got Steam (Soft, High, Breathy, Nasal)! What Vocal Type Are You?" data-via="vocalidinc" data-related="vocalidinc" data-hashtags="TEDMED">Tweet</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
            </div>
            <div class="col-lg-3">
                <img src="static/images/type-beachball.jpg">
                <h4>SHMN (Beach Ball)</h4>
                <p><strong>S</strong>oft, <strong>H</strong>igh, <strong>M</strong>odal, and <strong>N</strong>asal</p>
                <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://vocalid.co/type?t=beachball" data-text="I got Beach Ball (Soft, High, Modal, Nasal)! What Vocal Type Are You?" data-via="vocalidinc" data-related="vocalidinc" data-hashtags="TEDMED">Tweet</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
            </div>
            <div class="col-lg-3">
                <img src="static/images/type-kettle.jpg">
                <h4>LHBN (Kettle)</h4>
                <p><strong>L</strong>oud, <strong>H</strong>igh, <strong>B</strong>reathy, and <strong>N</strong>asal</p>
                <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://vocalid.co/type?t=kettle" data-text="I got Kettle (Loud, High, Breathy, Nasal)! What Vocal Type Are You?" data-via="vocalidinc" data-related="vocalidinc" data-hashtags="TEDMED">Tweet</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
            </div>
            <div class="col-lg-3">
                <img src="static/images/type-glass.jpg">
                <h4>LHMN (Crystal Glass)</h4>
                <p><strong>L</strong>oud, <strong>H</strong>igh, <strong>M</strong>odal, and <strong>N</strong>asal</p>
                <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://vocalid.co/type?t=crystalglass" data-text="I got Crystal Glass (Loud, High, Modal, Nasal)! What Vocal Type Are You?" data-via="vocalidinc" data-related="vocalidinc" data-hashtags="TEDMED">Tweet</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
            </div>
        </div>
        <div class="row-fluid">
            <div class="col-lg-3">
                <img src="static/images/type-feather.jpg">
                <h4>SHBO (Feather)</h4>
                <p><strong>S</strong>oft, <strong>H</strong>igh, <strong>B</strong>reathy, and <strong>O</strong>ral</p>
                <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://vocalid.co/type?t=feather" data-text="I got Feather (Soft, High, Breathy, Oral)! What Vocal Type Are You?" data-via="vocalidinc" data-related="vocalidinc" data-hashtags="TEDMED">Tweet</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
            </div>
            <div class="col-lg-3">
                <img src="static/images/type-candy.jpg">
                <h4>SHMO (Candy)</h4>
                <p><strong>S</strong>oft, <strong>H</strong>igh, <strong>M</strong>odal, and <strong>O</strong>ral</p>
                <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://vocalid.co/type?t=candy" data-text="I got Candy (Soft, High, Modal, Oral)! What Vocal Type Are You?" data-via="vocalidinc" data-related="vocalidinc" data-hashtags="TEDMED">Tweet</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
            </div>
            <div class="col-lg-3">
                <img src="static/images/type-whistle.jpg">
                <h4>LHBO (Whistle)</h4>
                <p><strong>L</strong>oud, <strong>H</strong>igh, <strong>B</strong>reathy, and <strong>O</strong>ral</p>
                <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://vocalid.co/type?t=whistle" data-text="I got Whistle (Loud, High, Breathy, Oral)! What Vocal Type Are You?" data-via="vocalidinc" data-related="vocalidinc" data-hashtags="TEDMED">Tweet</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
            </div>
            <div class="col-lg-3">
                <img src="static/images/type-lighthouse.jpg">
                <h4>LHMO (Lighthouse)</h4>
                <p><strong>L</strong>oud, <strong>H</strong>igh, <strong>M</strong>odal, and <strong>O</strong>ral</p>
                <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://vocalid.co/type?t=lighthouse" data-text="I got Lighthouse (Loud, High, Modal, Oral)! What Vocal Type Are You?" data-via="vocalidinc" data-related="vocalidinc" data-hashtags="TEDMED">Tweet</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
            </div>
        </div>
        <div class="row-fluid">
            <div class="col-lg-3">
                <img src="static/images/type-cushysofa.jpg">
                <h4>SDBN (Cushy Sofa)</h4>
                <p><strong>S</strong>oft, <strong>D</strong>eep, <strong>B</strong>reathy, and <strong>N</strong>asal</p>
                <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://vocalid.co/type?t=cushysofa" data-text="I got Cushy Sofa (Soft, Deep, Breathy, Nasal)! What Vocal Type Are You?" data-via="vocalidinc" data-related="vocalidinc" data-hashtags="TEDMED">Tweet</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
            </div>
            <div class="col-lg-3">
                <img src="static/images/type-bowtie.jpg">
                <h4>SDMN (Bowtie)</h4>
                <p><strong>S</strong>oft, <strong>D</strong>eep, <strong>M</strong>odal, and <strong>N</strong>asal</p>
                <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://vocalid.co/type?t=bowtie" data-text="I got Bowtie (Soft, Deep, Modal, Nasal)! What Vocal Type Are You?" data-via="vocalidinc" data-related="vocalidinc" data-hashtags="TEDMED">Tweet</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
            </div>
            <div class="col-lg-3">
                <img src="static/images/type-windmill.jpg">
                <h4>LDBN (Windmill)</h4>
                <p><strong>L</strong>oud, <strong>D</strong>eep, <strong>B</strong>reathy, and <strong>N</strong>asal</p>
                <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://vocalid.co/type?t=windmill" data-text="I got Cushy Sofa (Loud, Deep, Breathy, Nasal)! What Vocal Type Are You?" data-via="vocalidinc" data-related="vocalidinc" data-hashtags="TEDMED">Tweet</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
            </div>
            <div class="col-lg-3">
                <img src="static/images/type-armor.jpg">
                <h4>LDMN (Armor)</h4>
                <p><strong>L</strong>oud, <strong>D</strong>eep, <strong>M</strong>odal, and <strong>N</strong>asal</p>
                <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://vocalid.co/type?t=armor" data-text="I got Armor (Loud, Deep, Modal, Nasal)! What Vocal Type Are You?" data-via="vocalidinc" data-related="vocalidinc" data-hashtags="TEDMED">Tweet</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
            </div>
        </div>
        <div class="row-fluid">
            <div class="col-lg-3">
                <img src="static/images/type-cocoa.jpg">
                <h4>SDBO (Cocoa)</h4>
                <p><strong>S</strong>oft, <strong>D</strong>eep, <strong>B</strong>reathy, and <strong>O</strong>ral</p>
                <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://vocalid.co/type?t=cocoa" data-text="I got Cushy Sofa (Soft, Deep, Breathy, Oral)! What Vocal Type Are You?" data-via="vocalidinc" data-related="vocalidinc" data-hashtags="TEDMED">Tweet</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
            </div>
            <div class="col-lg-3">
                <img src="static/images/type-brook.jpg">
                <h4>SDMO (Brook)</h4>
                <p><strong>S</strong>oft, <strong>D</strong>eep, <strong>M</strong>odal, and <strong>O</strong>ral</p>
                <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://vocalid.co/type?t=brook" data-text="I got Brook (Soft, Deep, Modal, Oral)! What Vocal Type Are You?" data-via="vocalidinc" data-related="vocalidinc" data-hashtags="TEDMED">Tweet</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
            </div>
            <div class="col-lg-3">
                <img src="static/images/type-motorcycle.jpg">
                <h4>LDBO (Motorcycle)</h4>
                <p><strong>L</strong>oud, <strong>D</strong>eep, <strong>B</strong>reathy, and <strong>O</strong>ral</p>
                <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://vocalid.co/type?t=motorcycle" data-text="I got Motorcycle (Loud, Deep, Breathy, Oral)! What Vocal Type Are You?" data-via="vocalidinc" data-related="vocalidinc" data-hashtags="TEDMED">Tweet</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
            </div>
            <div class="col-lg-3">
                <img src="static/images/type-anchor.jpg">
                <h4>LDMO (Anchor)</h4>
                <p><strong>L</strong>oud, <strong>D</strong>eep, <strong>M</strong>odal, and <strong>O</strong>ral</p>
                <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://vocalid.co/type?=anchor" data-text="I got Anchor (Loud, Deep, Modal, Oral)! What Vocal Type Are You?" data-via="vocalidinc" data-related="vocalidinc" data-hashtags="TEDMED">Tweet</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
            </div>
        </div>
    </section>

         <section id="contact" class="content-section">
        <div class="contact-section">
            <div class="contact-bg">
                <img src="static/images/contact-bg.jpg">
                <div class="contact-bg-overlay"></div>
            </div>
            <div class="container-fluid">
                <div class="col-lg-8">
                    <h2>Follow VocaliD for the latest updates.</h2><br>
                    <ul class="list-inline banner-social-buttons">
                        <li><a href="http://www.twitter.com/vocalidinc" class="btn btn-twitter btn-lg" data-lang="en" title="Write A Tweet"><span class="network-name hidden-xs"><i class="fa fa-twitter fa-fw"></i> VocaliD on Twitter</span><span class="network-name visible-xs"><i class="fa fa-twitter fa-fw"></i> Twitter</span></a>
                        </li>
                        <li><a href="https://www.facebook.com/vocalidinc" class="btn btn-facebook btn-lg" title="Post to Facebook"><span class="network-name hidden-xs"><i class="fa fa-facebook fa-fw"></i> VocaliD on Facebook</span><span class="network-name visible-xs"><i class="fa fa-facebook fa-fw"></i> Facebook</span></a>
                        </li>
                    </ul>
                    <br>
                        <!-- Begin MailChimp Signup Form -->
                        <div id="mc_embed_signup">
                        <form action="//vocalid.us8.list-manage.com/subscribe/post?u=511373a21bfc0f13863de60a1&amp;id=b2b7f532f8" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Enter your e-mail address for updates..." required>
                            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div style="position: absolute; left: -5000px;"><input type="text" name="b_0ea30692c32f083061eac72ab_7280f59bb6" value=""></div>
                            <input type="submit" value="Subscribe >" name="subscribe" id="mc-embedded-subscribe" class="btn btn-default btn-submit">
                        </form>
                        </div>
                        <!--End mc_embed_signup-->
                </div>
            </div>
        </div>
    </section>

   <footer id="footer" class="content-section text-center">
        <div class="footer-links">
            <div class="container-fluid">
                <div class="col-lg-8 col-lg-offset-2">
                    <ul class="list-inline">
                        <li>© 2014 VocaliD, Inc.</li>
                        <li><a href="mailto:hello@vocalid.co">Contact Us</a></li>
                        <li><a href="/careers">We're Hiring!</a></li>
                        <li><a href="/privacy">Privacy</li>
                        <li><a href="/terms">Terms of Use</li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <div class="modal fade" id="record-modal" tabindex="-1" role="dialog" aria-labelledby="Record" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
            <button id="hvb-login-close" type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
            </div>
            <div class="modal-body row" id="hvb-login-modal-index">
                <div class="login account col-md-6"><center>
                    <h3 id="hvb_login_modal_header"><strong>Login to Your Account</strong></h3>
                    <div class="loginform-container">
                        <form id="hvb_login_modal" action="login_post" class="loginform" method="post" novalidate="">
                            <div id="login-email-container" class="login-field">
                                <input type="email" name="email" placeholder="Your email address" id="hvb_login_modal_email" required="required">
                            </div>
                            <div id="login-password-container" class="login-field">
                                <input type="password" name="password" placeholder="Your password" id="hvb_login_modal_password" required="required">
                            </div>
                            <div id="form-submit" class="login-field clearfix submit">
                                <input type="submit" value="Login">
                            </div>
                        </form>
                        <a href="initiate-reset" id="hvb-password-reset">Reset password</a>

                    </div>
                </center></div>
                <div class="create account col-md-6"><center>
                    <h3><strong>Create An Account</strong></h3>
                    <p>Donate your voice today.</p>
                    <a href="register" class="btn btn-signup">Sign Up</a>
                </center></div>
            </div>
            <div class="model-content" id="hvb-reset-background" style="display: none;"><a href="/" onclick="event.preventDefault();"><h3><center>A new password was sent to your email</center></h3></p></a></div>
    </div>
  </div>
  </div>

  <div class="modal fade" id="coming-soon-modal" tabindex="-1" role="dialog" aria-labelledby="Coming Soon" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
            </div>
            <div class="modal-body">
            <h3>Coming Soon.</h3>
            <p>We're working day and night to bring you VocaliD. Stay tuned.</p>
            <a href="#" data-dismiss="modal" aria-hidden="true"><span class="close-bio">Close Window</p></a>
            </div>
    </div>
  </div>
  </div>

    <!-- Core JavaScript Files -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
    
    <script src="static/js/hvb-login.js"></script>
    <script src="static/js/tp/easing-scrolling.js"></script>
    <script src="static/js/tp/jquery.responsiveVideo.js"></script>
    <script src="static/js/tp/viewport-units-buggyfill.js"></script>
    <script>window.viewportUnitsBuggyfill.init();</script>
    
    <script>
    $( 'body' ).responsiveVideo();
    </script>
    <script>
  $('.modal').on('shown', function () {
    $("body").css("overflow", "hidden");
    });

    $('.modal').on('hidden', function () {
      $("body").css("overflow", "visible");
    });
  </script>

</body>

</html>
