// * Virtual Recording Studio * //

html.recording-studio {

.container { padding: 0; }
nav { 
	.container { padding-right: 15px; padding-left: 15px; } 
}

section#record {
	display: table;
	width: 100%;
	height: 100%;
	padding: 100px 0 0;
	text-align: center;
	color: $white;
	background: url('/images/room-bg.jpg') no-repeat fixed top center;
	.back-wall {
		position: absolute;
		width: 960px;
		height: 510px;
		top: 74px;
		left: 50%;
		margin-left: -480px;
		.wall-cell-container {
			border: 1px solid #000;
			width: 64px;
			height: 64px;
			float: left;
			.wall-cell {
				border-color: #2b3036 #22252a #1f2326 #282d32;
				border-style: solid;
				border-width: 31px;
				width: 0;
				height: 0;
			}
		}
	}
}

}