//
// Recording Lo-Fi
// --------------------------------------------------

.world-voice-day {

.container { padding: 0; }
nav { .container { padding-right: 15px; padding-left: 15px; } }

.intro {
display: table;
width: 100%;
height: auto;
padding: 100px 0 0;
text-align: center;
color: $white;
background: $dark-blue no-repeat bottom center scroll;
-webkit-background-size: cover;
-moz-background-size: cover;
background-size: cover;
-o-background-size: cover;
}

.banner { 
	position: relative; overflow: auto;
	li { list-style: none; }
    ul { margin: 0; padding: 0; 
    	li { float: left; text-align: left; padding: 100px 125px; min-height: 600px;
    	}
        }
}

.brand-heading { font-family: $header-font; font-size: 80px; margin-bottom: 40px; }

.intro-body {
display: table-cell;
vertical-align: middle;
	a { border-bottom: 1px solid $light-dark-blue; color: $white; 
	}
}

.intro-text { a { &:hover, &:focus { color: $red-damask; border-bottom: 1px solid $red-damask; } } }

.prev, .next { font-family: $font-family-sans-serif; font-size: 32px; font-weight: bold; 
	&:hover, &:focus { color: $red-damask; border-bottom: 1px solid $red-damask; }
}

.tutorial-heading { font-family: $header-font; font-size: 38px; margin-bottom: 40px; font-weight: bold; }
.tutorial-text { font-size: 22px; 
	a { &:hover, &:focus { color: $red-damask; border-bottom: 1px solid $red-damask; }
	}
}
.naming-text { font-weight:bold; }

.example { display:block; margin-bottom: 30px;
	.btn-lg { width: 30%; } 
	a { color: $gray-light; border-bottom: none; }
}

.number-heading { font-size: 24px; font-family: $font-family-serif; text-align: center; margin-bottom: 60px; }

.left-arrow, .right-arrow { font-size: 24px; }
.left-arrow {float:left; width:49.5%; text-align: right; padding-right:0.5%;}
.right-arrow {float:right; width:49.5%; padding-left: 0.5%;}

.sentence-text { font-family: $font-family-serif; font-style: italic; font-size: 48px; text-align: center; margin-bottom: 60px; }
.sentence-text-tut { @extend .sentence-text; margin-bottom: 80px; text-align: center; }

@media (min-width: 767px) {
	.intro { height: 100%; padding: 60px 0 0 0; }
	.intro-text { font-size: 22px; }
}

@media (max-width: 1170px) {
	.brand-heading { margin-top: 0; font-size: 50px; }
	.example { .btn-lg { width: 30%; } }
	.banner { 
	position: relative; overflow: auto;
    ul { 
    	li { padding: 50px 50px; }
        }
}

@media (max-width: 970px) {
	.example { .btn-lg { width: 50%; }  }
}

@media (max-width: 767px) {
	.intro-text { padding: 0; font-size: 18px; }
	.banner { 
		ul { 
			li { padding: 0 10px; min-height: 650px; } 
			}
			}
	.tutorial-text { font-size: 18px; }
	.naming-text { font-size:15px; font-weight:bold; }
	.example { .btn-lg { width: 50%; font-size: 90%; }
		}
	}
}
}