#registration {
	background: $dark-blue;
	height: 100vh;
	color: $gray-lighter;
}

#registration {
  form { max-width: 960; margin: 0 auto; padding: 15% 10% 10% 10%; 
	h1 { font-family: $header-font; margin-bottom: 40px;
	font-weight: 700;
	text-transform: uppercase;
	}
	}
}	

p.mad-libs { font-size: 26px; font-weight: bold; }

.mad-libs label {
	white-space: nowrap;
	padding: 0 0 .5em;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
}
.mad-libs input {
	font: inherit;
	color: $red-damask;
	background: transparent;
	border: none;
	border-bottom: 1px solid $gray-light;
	outline: 0;
	display: block;
	padding: 0 0 0 20px;
}

.dropdown { border: none; border-bottom: 1px solid $gray-light; background: none; appearance: none; border-radius: 0px; -webkit-appearance: none; -webkit-border-radius: 0px; -moz-appearance: none; -moz-border-radius: 0px; color: $red-damask; }
select::-ms-expand { display: none; }
.custom-checkbox { margin-right: 5px;}
.agreement { margin-top: 40px; }
.agreement-links { font-size: 20px; }
.agreement-links a { color: $red-damask;
	&:hover, &:focus {
    text-decoration: none;
    color: $red-damask-hover; }}
.agreement-button { text-align: right; }

input[type="submit"].mad-libs-submit { width: 280px; }
