// * Virtual Recording Studio * //

canvas {
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
}

#hvb_volume1 {
	background-color: #6b0000;
	top: 0px;
}
#hvb_volume2 {
	background-color: #560000;
	top: 25px;
}
#hvb_volume3 {
	background-color: #034100;
	top: 50px;
}
#hvb_volume4 {
	background-color: #087902;
	top: 75px;
}
#hvb_volume5 {
	background-color: #034100;
	top: 100px;
}
#hvb_volume6 {
	background-color: #560000;
	top: 125px;
}
#hvb_volume7 {
	background-color: #6b0000;
	top: 150px;
}

#hvb_pitch1 {
	background-color: #6b0000;
	top: 0px;
}
#hvb_pitch2 {
	background-color: #560000;
	top: 25px;
}
#hvb_pitch3 {
	background-color: #034100;
	top: 50px;
}
#hvb_pitch4 {
	background-color: #087902;
	top: 75px;
}
#hvb_pitch5 {
	background-color: #034100;
	top: 100px;
}
#hvb_pitch6 {
	background-color: #560000;
	top: 125px;
}
#hvb_pitch7 {
	background-color: #6b0000;
	top: 150px;
}

html.recording-studio {

#tutorial-modal {
	.modal-content { 
		background-color: transparent;
		padding-top: 10%;
		@include box-shadow(none); 

	}
	.close { 
		color: #fff;
		font-size: 80px;
		float: none;
		position: absolute;
		top: 10px;
		right: 30px;
		text-shadow: none; 
		@include opacity(0.75);
		@include transition(opacity, ease-in-out, 0.3s);
		&:hover {
			@include opacity(1);
		} 
	}
}

.container { padding: 0; }
nav { .container { padding-right: 15px; padding-left: 15px; } }

section#recording-studio {
	display: table;
	width: 100%;
	height: 100%;
	padding: 100px 0 0;
	text-align: center;
	color: $white;
	background: url('../images/room-bg-2.jpg') no-repeat fixed top center;
	.back-wall {
		position: absolute;
		width: $dimensionNum*15;
		height: $dimensionNum*10;
		top: 74px;
		left: 50%;
		margin-left: -480px;
		.wall-cell-container {
			border: 1px solid #000;
			@include dimensions(59.266666667px);
			float: left;
			.wall-cell {
				border-color: #2b3036 #22252a #1f2326 #282d32;
				border-style: solid;
				border-width: 31px;
				width: 0;
				height: 0;
			}
			.opacity-0 { opacity: 0; }
			.opacity-25 { opacity: 0.25; }
			.opacity-50 { opacity: 0.5; }
			.opacity-75 { opacity: 0.75; }
			.opacity-100 { opacity: 1; }
			.red {
				border-color: #fe7349 #fe5a39 #fe5234 #fe6e45;
				border-style: solid;
				border-width: 31px;
				width: 0;
				height: 0;
				box-shadow: 0px 0px 8px #fe7349 inset, 0px 0px 8px #fe7349;
					-webkit-box-shadow: 0px 0px 8px #fe7349 inset, 0px 0px 8px #fe7349;
					-moz-box-shadow: 0px 0px 8px #fe7349 inset, 0px 0px 8px #fe7349;
				z-index: 2;
			}
			.pink {
				border-color: #f18ff2 #ef74d7 #e36bc4 #ef8cef;
				border-style: solid;
				border-width: 31px;
				width: 0;
				height: 0;
				box-shadow: 0px 0px 8px #f18ff2 inset, 0px 0px 8px #f18ff2;
					-webkit-box-shadow: 0px 0px 8px #f18ff2 inset, 0px 0px 8px #f18ff2;
					-moz-box-shadow: 0px 0px 8px #f18ff2 inset, 0px 0px 8px #f18ff2;
				z-index: 2;
			}
			.purplepink {
				border-color: lighten(#5161a5, 15%) lighten(#404e85, 15%) lighten(#3c4879, 15%) lighten(#4e5ea1, 15%);
				border-style: solid;
				border-width: 31px;
				width: 0;
				height: 0;
				box-shadow: 0px 0px 8px lighten(#5161a5, 15%) inset, 0px 0px 8px lighten(#5161a5, 15%);
					-webkit-box-shadow: 0px 0px 8px lighten(#5161a5, 15%) inset, 0px 0px 8px lighten(#5161a5, 15%);
					-moz-box-shadow: 0px 0px 8px lighten(#5161a5, 15%) inset, 0px 0px 8px lighten(#5161a5, 15%);
				z-index: 2;
			}
			.purple {
				border-color: #5161a5 #404e85 #3c4879 #4e5ea1;
				border-style: solid;
				border-width: 31px;
				width: 0;
				height: 0;
				box-shadow: 0px 0px 8px #5161a5 inset, 0px 0px 8px #5161a5;
					-webkit-box-shadow: 0px 0px 8px #5161a5 inset, 0px 0px 8px #5161a5;
					-moz-box-shadow: 0px 0px 8px #5161a5 inset, 0px 0px 8px #5161a5;
				z-index: 2;
			}
			.yellowgreen {
				border-color: #e1fc73 #d7ff37 #cef143 #dbfc59;
				border-style: solid;
				border-width: 31px;
				width: 0;
				height: 0;
				box-shadow: 0px 0px 8px #e1fc73 inset, 0px 0px 8px #e1fc73;
					-webkit-box-shadow: 0px 0px 8px #e1fc73 inset, 0px 0px 8px #e1fc73;
					-moz-box-shadow: 0px 0px 8px #e1fc73 inset, 0px 0px 8px #e1fc73;
					z-index: 2;
			}
			.yellow {
				border-color: #fefe2c #f8f825 #f2f230 #f7f736;
				border-style: solid;
				border-width: 31px;
				width: 0;
				height: 0;
				box-shadow: 0px 0px 8px #fefe2c inset, 0px 0px 8px #fefe2c;
					-webkit-box-shadow: 0px 0px 8px #fefe2c inset, 0px 0px 8px #fefe2c;
					-moz-box-shadow: 0px 0px 8px #fefe2c inset, 0px 0px 8px #fefe2c;
					z-index: 2;
			}
			.green {
				border-color: #2dfe60 #26f658 #37f064 #3ff86c;
				border-style: solid;
				border-width: 31px;
				width: 0;
				height: 0;
				box-shadow: 0px 0px 8px #2dfe60 inset, 0px 0px 8px #2dfe60;
					-webkit-box-shadow: 0px 0px 8px #2dfe60 inset, 0px 0px 8px #2dfe60;
					-moz-box-shadow: 0px 0px 8px #2dfe60 inset, 0px 0px 8px #2dfe60;
					z-index: 2;
			}
			.darkblue { 
				border-color: darken(#2b9ceb, 15%) darken(#2091e0, 15%) darken(#2c89cb, 15%) darken(#3d9de0, 15%);
				border-style: solid;
				border-width: 31px;
				width: 0;
				height: 0;
				box-shadow: 0px 0px 8px darken(#2b9ceb, 15%) inset, 0px 0px 8px darken(#2b9ceb, 15%)darken(#2b9ceb, 15%);
					-webkit-box-shadow: 0px 0px 8px darken(#2b9ceb, 15%) inset, 0px 0px 8px darken(#2b9ceb, 15%);
					-moz-box-shadow: 0px 0px 8px darken(#2b9ceb, 15%) inset, 0px 0px 8px darken(#2b9ceb, 15%);
					z-index: 2;
			}
			.lightblue {
				border-color: #20f0f0 #1ff9f9 #21fefe #28f8f8;
				border-style: solid;
				border-width: 31px;
				width: 0;
				height: 0;
				box-shadow: 0px 0px 8px #20f0f0 inset, 0px 0px 8px #20f0f0;
					-webkit-box-shadow: 0px 0px 8px #20f0f0 inset, 0px 0px 8px #20f0f0;
					-moz-box-shadow: 0px 0px 8px #20f0f0 inset, 0px 0px 8px #20f0f0;
					z-index: 2;
			}
			.blue {
				border-color: #2b9ceb #2091e0 #2c89cb #3d9de0;
				border-style: solid;
				border-width: 31px;
				width: 0;
				height: 0;
				box-shadow: 0px 0px 8px #2b9ceb inset, 0px 0px 8px #2b9ceb;
					-webkit-box-shadow: 0px 0px 8px #2b9ceb inset, 0px 0px 8px #2b9ceb;
					-moz-box-shadow: 0px 0px 8px #2b9ceb inset, 0px 0px 8px #2b9ceb;
					z-index: 2;
			}
		}
	}
	.hvb_sentence {
		width: 560px;
		height: 175px;
		position: absolute;
		bottom: 10px;
		left: 50%;
		margin-left: -280px;
		background-color: #f2fdff;
		color: #000;
		font-size: 30px;
		line-height: 175px;
	}
	.hvb_volume {
		width: 100px;
		height: 175px;
		background-color: #333;
		position: absolute;
		bottom: 10px;
		left: 50%;
		margin-left:-380px;
		#hvb_volume1, #hvb_volume2, #hvb_volume3, #hvb_volume4, #hvb_volume5, #hvb_volume6, #hvb_volume7 {
			position: absolute;
			width: 80px;
			height: 25px;
			left: 10px;
		}
	}
	.hvb_pitch {
		width: 100px;
		height: 175px;
		background-color: #333;
		position: absolute;
		bottom: 10px;
		right: 50%;
		margin-right:-380px;
		#hvb_pitch1, #hvb_pitch2, #hvb_pitch3, #hvb_pitch4, #hvb_pitch5, #hvb_pitch6, #hvb_pitch7 {
			position: absolute;
			width: 80px;
			height: 25px;
			left: 10px;
		}
	}
	.hvb_record {
		width: 100px;
		height: 87.5px;
		background-color: $red-damask;
		position: absolute;
		bottom: 97.5px;
		left: 50%;
		margin-left:-480px;
		&:hover {
			background-color: lighten( $red-damask, 10% );
		}
	}
	.hvb_stop {
		width: 100px;
		height: 87.5px;
		background-color: $red-damask-dark;
		position: absolute;
		bottom: 97.5px;
		left: 50%;
		margin-left:-480px;
		&:hover {
			background-color: lighten( $red-damask-dark, 10% );
		}
	}
	#hvb_playsentence {
		width: 100px;
		height: 87.5px;
		background-color: $green;
		position: absolute;
		bottom: 10px;
		left: 50%;
		margin-left:-480px;
		&:hover {
			background-color: lighten( $green, 10% );
		}
	}
	#hvb_nextsentence {
		width: 100px;
		height: 87.5px;
		background-color: $dark-blue;
		position: absolute;
		bottom: 10px;
		right: 50%;
		margin-right:-480px;
		&:hover {
			background-color: lighten( $dark-blue, 10% );
		}
	}
	#hvb_settings {
		width: 100px;
		height: 87.5px;
		background-color: $facebook-blue;
		position: absolute;
		bottom: 97.5px;
		right: 50%;
		margin-right:-480px;
		&:hover {
			background-color: lighten( $facebook-blue, 10% );
		}
	}
}

}

html.calibrate.recording-studio {
	// * Calibration * //

	.calibrate {
		width: 100px;
		height: 195px;
		background-color: #000;
		position: absolute;
		top: 160px;
		left: 50%;
		margin-left: -50px;
		#volume-1, #volume-2, #volume-3, #volume-4, #volume-5, #volume-6, #volume-7 {
			position: absolute;
			left: 50%;
			margin-left: -40px;
			width: 80px;
			height: 25px;
		}
	}
	.btn-calibrate {
		position: absolute;
		top: 380px;
		left: 50%;
		margin-left: -98px;
	}
}

@media only screen and (min-width: 1224px) {
	section#recording-studio {
	}
}

@media only screen and (min-width: 1824px) {
	html.recording-studio {
		section#recording-studio {
			background: url('../images/room-bg-lg.jpg') no-repeat fixed top center;
			.back-wall {
				width: 1024px;
				height: 682.66666667px;
				top: 91px;
				margin-left: -515px;
				.wall-cell-container {
					width: 68.266666667px;
					height: 68.266666667px;
					.wall-cell, .red, .pink, .purplepink, .purple, 
					.yellowgreen, .yellow, .green, .darkblue, 
					.lightblue, .blue { border-width: 34px;}
				}
			}
			.hvb_pitch {
				bottom: 60px;
			}
			.hvb_record {
				bottom: 147.5px;
			}
			.hvb_stop {
				bottom: 147.5px;
			}
			.hvb_volume {
				bottom: 60px;
			}
			.hvb_sentence {
				bottom: 60px;
			}
			#hvb_playsentence {
				bottom: 60px;
			}
			#hvb_nextsentence {
				bottom: 60px;
			}
			#hvb_settings {
				bottom: 147.5px;
			}
		}
	}
}