// * Virtual Recording Studio * //

.hvb-volume-canvas {
	background: none !important;
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	border-radius: 50% / 100%;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.hvb-calibration-canvas {
	background: none !important;
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	border-top-left-radius: 0;
	border-top-right-radius: 0; 
}

#hvb-volume1 {
	background-color: #6b0000;
	top: 0px;
}
#hvb-volume2 {
	background-color: #560000;
	top: 25px;
}
#hvb-volume3 {
	background-color: #034100;
	top: 50px;
}
#hvb-volume4 {
	background-color: #087902;
	top: 75px;
}
#hvb-volume5 {
	background-color: #034100;
	top: 100px;
}
#hvb-volume6 {
	background-color: #560000;
	top: 125px;
}
#hvb-volume7 {
	background-color: #6b0000;
	top: 150px;
}

#hvb_pitch1 {
	background-color: #6b0000;
	top: 0px;
}
#hvb_pitch2 {
	background-color: #560000;
	top: 25px;
}
#hvb_pitch3 {
	background-color: #034100;
	top: 50px;
}
#hvb_pitch4 {
	background-color: #087902;
	top: 75px;
}
#hvb_pitch5 {
	background-color: #034100;
	top: 100px;
}
#hvb_pitch6 {
	background-color: #560000;
	top: 125px;
}
#hvb_pitch7 {
	background-color: #6b0000;
	top: 150px;
}

html.recording-studio {
	body { background-color: #121315; }

	.navbar > .container-fluid .navbar-brand {
		margin-left: 0;
	}

#tutorial-modal {
	.modal-content { 
		background-color: transparent;
		padding-top: 10%;
		@include box-shadow(none); 

	}
	.close { 
		color: #fff;
		font-size: 80px;
		float: none;
		position: absolute;
		top: 10px;
		right: 30px;
		text-shadow: none; 
		@include opacity(0.75);
		@include transition(opacity, ease-in-out, 0.3s);
		&:hover {
			@include opacity(1);
		} 
	}
}

.container { padding: 0; }
nav { .container { padding-right: 15px; padding-left: 15px; } }

section#recording-studio {
	display: table;
	width: 100%;
	height: 100%;
	padding: 100px 0 0;
	text-align: center;
	color: $white;
	background: url('../images/room-bg-2.jpg') no-repeat fixed top center;
	.back-wall {
		position: absolute;
		width: $dimensionNumSmall * 15;
		height: $dimensionNumSmall * 10;
		top: 74px;
		left: 50%;
		margin-left: -480px;
		.wall-cell-container {
			border: 1px solid #000;
			width: $dimensionNumSmall;
			height: $dimensionNumSmall;
			float: left;
			overflow: hidden;
			position: relative;
			.wall-cell {
				border-color: #2b3036 #22252a #1f2326 #282d32;
				border-style: solid;
				border-width: 31px;
				margin-left: -1px;
				margin-top: -1px;
				position: absolute;
				z-index: 2;
			}
			div[id*="filler-"] {
				position: absolute;
				top: 0;
				z-index: 0;
			}
			p {
				z-index: 999;
				font-family: "Helvetica";
				position: absolute;
				width: $dimensionNumSmall;
				margin-top: $dimensionNumSmall/6.2;
				text-shadow: 1px 1px 1px #000;
			}
			.opacity-0 { opacity: 0; }
			.opacity-25 { opacity: 0.25; }
			.opacity-50 { opacity: 0.5; }
			.opacity-75 { opacity: 0.75; }
			.opacity-100 { opacity: 1; }
			.red, .pink, .purplepink, .purple, .yellowgreen, .yellow, .green, .darkblue, .lightblue, .blue {
				opacity: 0;
			}
			.red {
				border-color: #fe7349 #fe5a39 #fe5234 #fe6e45;
				border-style: solid;
				border-width: 31px;
				width: 0;
				height: 0;
				box-shadow: 0px 0px 8px #fe7349 inset, 0px 0px 8px #fe7349;
					-webkit-box-shadow: 0px 0px 8px #fe7349 inset, 0px 0px 8px #fe7349;
					-moz-box-shadow: 0px 0px 8px #fe7349 inset, 0px 0px 8px #fe7349;
				z-index: 2;
			}
			.pink {
				border-color: #f18ff2 #ef74d7 #e36bc4 #ef8cef;
				border-style: solid;
				border-width: 31px;
				width: 0;
				height: 0;
				box-shadow: 0px 0px 8px #f18ff2 inset, 0px 0px 8px #f18ff2;
					-webkit-box-shadow: 0px 0px 8px #f18ff2 inset, 0px 0px 8px #f18ff2;
					-moz-box-shadow: 0px 0px 8px #f18ff2 inset, 0px 0px 8px #f18ff2;
				z-index: 2;
			}
			.purplepink {
				border-color: lighten(#5161a5, 15%) lighten(#404e85, 15%) lighten(#3c4879, 15%) lighten(#4e5ea1, 15%);
				border-style: solid;
				border-width: 31px;
				width: 0;
				height: 0;
				box-shadow: 0px 0px 8px lighten(#5161a5, 15%) inset, 0px 0px 8px lighten(#5161a5, 15%);
					-webkit-box-shadow: 0px 0px 8px lighten(#5161a5, 15%) inset, 0px 0px 8px lighten(#5161a5, 15%);
					-moz-box-shadow: 0px 0px 8px lighten(#5161a5, 15%) inset, 0px 0px 8px lighten(#5161a5, 15%);
				z-index: 2;
			}
			.purple {
				border-color: #5161a5 #404e85 #3c4879 #4e5ea1;
				border-style: solid;
				border-width: 31px;
				width: 0;
				height: 0;
				box-shadow: 0px 0px 8px #5161a5 inset, 0px 0px 8px #5161a5;
					-webkit-box-shadow: 0px 0px 8px #5161a5 inset, 0px 0px 8px #5161a5;
					-moz-box-shadow: 0px 0px 8px #5161a5 inset, 0px 0px 8px #5161a5;
				z-index: 2;
			}
			.yellowgreen {
				border-color: #e1fc73 #d7ff37 #cef143 #dbfc59;
				border-style: solid;
				border-width: 31px;
				width: 0;
				height: 0;
				box-shadow: 0px 0px 8px #e1fc73 inset, 0px 0px 8px #e1fc73;
					-webkit-box-shadow: 0px 0px 8px #e1fc73 inset, 0px 0px 8px #e1fc73;
					-moz-box-shadow: 0px 0px 8px #e1fc73 inset, 0px 0px 8px #e1fc73;
					z-index: 2;
			}
			.yellow {
				border-color: #fefe2c #f8f825 #f2f230 #f7f736;
				border-style: solid;
				border-width: 31px;
				width: 0;
				height: 0;
				box-shadow: 0px 0px 8px #fefe2c inset, 0px 0px 8px #fefe2c;
					-webkit-box-shadow: 0px 0px 8px #fefe2c inset, 0px 0px 8px #fefe2c;
					-moz-box-shadow: 0px 0px 8px #fefe2c inset, 0px 0px 8px #fefe2c;
					z-index: 2;
			}
			.green {
				border-color: #2dfe60 #26f658 #37f064 #3ff86c;
				border-style: solid;
				border-width: 31px;
				width: 0;
				height: 0;
				box-shadow: 0px 0px 8px #2dfe60 inset, 0px 0px 8px #2dfe60;
					-webkit-box-shadow: 0px 0px 8px #2dfe60 inset, 0px 0px 8px #2dfe60;
					-moz-box-shadow: 0px 0px 8px #2dfe60 inset, 0px 0px 8px #2dfe60;
					z-index: 2;
			}
			.darkblue { 
				border-color: darken(#2b9ceb, 15%) darken(#2091e0, 15%) darken(#2c89cb, 15%) darken(#3d9de0, 15%);
				border-style: solid;
				border-width: 31px;
				width: 0;
				height: 0;
				box-shadow: 0px 0px 8px darken(#2b9ceb, 15%) inset, 0px 0px 8px darken(#2b9ceb, 15%)darken(#2b9ceb, 15%);
					-webkit-box-shadow: 0px 0px 8px darken(#2b9ceb, 15%) inset, 0px 0px 8px darken(#2b9ceb, 15%);
					-moz-box-shadow: 0px 0px 8px darken(#2b9ceb, 15%) inset, 0px 0px 8px darken(#2b9ceb, 15%);
					z-index: 2;
			}
			.lightblue {
				border-color: #20f0f0 #1ff9f9 #21fefe #28f8f8;
				border-style: solid;
				border-width: 31px;
				width: 0;
				height: 0;
				box-shadow: 0px 0px 8px #20f0f0 inset, 0px 0px 8px #20f0f0;
					-webkit-box-shadow: 0px 0px 8px #20f0f0 inset, 0px 0px 8px #20f0f0;
					-moz-box-shadow: 0px 0px 8px #20f0f0 inset, 0px 0px 8px #20f0f0;
					z-index: 2;
			}
			.blue {
				border-color: #2b9ceb #2091e0 #2c89cb #3d9de0;
				border-style: solid;
				border-width: 31px;
				width: 0;
				height: 0;
				box-shadow: 0px 0px 8px #2b9ceb inset, 0px 0px 8px #2b9ceb;
					-webkit-box-shadow: 0px 0px 8px #2b9ceb inset, 0px 0px 8px #2b9ceb;
					-moz-box-shadow: 0px 0px 8px #2b9ceb inset, 0px 0px 8px #2b9ceb;
					z-index: 2;
			}
		}
	}
	.hvb-sentence {
		width: 800px;
		height: 175px;
		position: absolute;
		bottom: 10px;
		left: 50%;
		margin-left: -400px;
		background-color: #f2fdff;
		color: #000;
		font-size: 30px;
		line-height: 175px;
		border-left: 10px solid #c0c0c0;
		border-top: 10px solid #c0c0c0;
		border-right: 10px solid #6c6c6c;
		border-bottom: 10px solid #6c6c6c;
		&:hover {
			cursor: pointer;
			background-color: darken(#f2fdff,2%);
			@include transition(background-color,ease-in-out,0.5s);
		}
		.fa-volume-up {
			color: #a1a1a1;
			position: absolute;
			bottom: 10px;
			right: 10px;
			font-size: 22px;
		}
		.hvb-sentence-counter {
			position: absolute;
			top: 10px;
			right: 10px;
			background: #444;
			padding: 5px;
			font-size: 12px;
			font-weight: bold;
			color: #fff;
		}
	}
	.hvbsentence-text {
		white-space: pre-wrap; /* CSS3 */
		white-space: -moz-pre-wrap; /* Firefox */
		white-space: -pre-wrap; /* Opera <7 */
		white-space: -o-pre-wrap; /* Opera 7 */
		width: 800px;
		height: 155px;
		position: absolute;
		left: 50%;
		margin-left: -400px;
		font-size: 30px;
		vertical-align: middle;
		line-height: 155px;
	}

	.hvb-volume-wrapper {
		width: 250px;
		height: 40px;
		background: #6c6c6c;
		background: -webkit-gradient(linear, left top, left bottom, from(darken(#6c6c6c,15%)), to(#6c6c6c));
		background: -webkit-linear-gradient(top, darken(#6c6c6c,15%), #6c6c6c);
		background: -moz-linear-gradient(top, darken(#6c6c6c,15%), #6c6c6c);
		background: -ms-linear-gradient(top, darken(#6c6c6c,15%), #6c6c6c);
		background: -o-linear-gradient(top, darken(#6c6c6c,15%), #6c6c6c);
		position: absolute;
		bottom: 20px;
		left: 50%;
		margin-left: -125px;
		border-radius: 50% / 100%;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}
	.hvb-volume {
		width: 220px;
		height: 30px;
		background-color: #000;
		position: absolute;
		top: 0;
		left: 50%;
		margin-left: -110px;
		border-radius: 50% / 100%;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		#hvb-volume1, #hvb-volume2, #hvb-volume3, #hvb-volume4, #hvb-volume5, #hvb-volume6, #hvb-volume7 {
			position: absolute;
			width: 80px;
			height: 25px;
			left: 10px;
		}
	}
	.hvb-pitch {
		display: none;
		width: 100px;
		height: 175px;
		background-color: #d7d7d7;
		position: absolute;
		bottom: 10px;
		right: 50%;
		margin-right:-380px;
		#hvb-pitch1, #hvb-pitch2, #hvb-pitch3, #hvb-pitch4, #hvb-pitch5, #hvb-pitch6, #hvb-pitch7 {
			position: absolute;
			width: 80px;
			height: 25px;
			left: 10px;
		}
	}
	.hvb-record, .hvb-stop, #hvb-play-sentence, #hvb-next-sentence, #hvb-settings {
		color: #444;
		border: 8px outset buttonface;
		font-size: 12px;
		font-family: $header-font;
		text-transform: uppercase;
		letter-spacing: 1px;
		line-height: 1.5;
		background: #a9a9a9;
		background: -webkit-gradient(linear, left top, left bottom, from(#dedede), to(#a9a9a9));
		background: -webkit-linear-gradient(top, #dedede, #a9a9a9);
		background: -moz-linear-gradient(top, #dedede, #a9a9a9);
		background: -ms-linear-gradient(top, #dedede, #a9a9a9);
		background: -o-linear-gradient(top, #dedede, #a9a9a9);
		@include box-shadow(rgba(0,0,0,1) 0 1px 0);
		@include transition(all, ease, 0.3s);
		&:hover {
			background: #8f8f8f;
			background: -webkit-gradient(linear, left top, left bottom, from(#a9a9a9), to(#8f8f8f));
			background: -webkit-linear-gradient(top, #a9a9a9, #8f8f8f);
			background: -moz-linear-gradient(top, #a9a9a9, #8f8f8f);
			background: -ms-linear-gradient(top, #a9a9a9, #8f8f8f);
			background: -o-linear-gradient(top, #a9a9a9, #8f8f8f);
			@include transition(all, ease, 0.3s);
		}
		i {
			font-size: 18px;
		}
	}

	.hvb-play-sentence .disabled, #hvb-next-sentence .disabled {
		color: #a1a1a1;
	}

	.hvb-record {
		width: 100px;
		height: 87.5px;
		background-color: $grey-button;
		position: absolute;
		bottom: 97.5px;
		left: 50%;
		margin-left:-500px;
		&:hover {
		}
		i {
			color: $red-damask;
		}
	}
	.hvb-stop {
		width: 100px;
		height: 87.5px;
		background-color: $grey-button;
		position: absolute;
		bottom: 97.5px;
		left: 50%;
		margin-left:-500px;
		i {
			color: $red-damask;
		}
	}
	#hvb-play-sentence {
		width: 100px;
		height: 87.5px;
		background-color: $grey-button;
		position: absolute;
		bottom: 10px;
		left: 50%;
		margin-left:-500px;
		i.fa-play {
			color: $green;
		}
		i.disabled {
			color: #a1a1a1;
		}
	}
	#hvb-next-sentence {
		width: 100px;
		height: 87.5px;
		background-color: $grey-button;
		position: absolute;
		bottom: 10px;
		right: 50%;
		margin-right:-500px;
		i.fa-step-forward {
			color: #3c4879;
		}
		i.disabled {
			color: #a1a1a1;
		}
	}
	#hvb-settings {
		width: 100px;
		height: 87.5px;
		background-color: $grey-button;
		position: absolute;
		bottom: 97.5px;
		right: 50%;
		margin-right:-500px;
		i {
			color: #818dc1;
		}
	}
}

}

html.calibrate.recording-studio {
	// * Calibration * //

	.calibrate {
		width: 100px;
		height: 195px;
		background-color: #000;
		position: absolute;
		top: 160px;
		left: 50%;
		margin-left: -50px;
		#volume-1, #volume-2, #volume-3, #volume-4, #volume-5, #volume-6, #volume-7 {
			position: absolute;
			left: 50%;
			margin-left: -40px;
			width: 80px;
			height: 25px;
		}
	}
	.btn-calibrate {
		position: absolute;
		top: 380px;
		left: 50%;
		margin-left: -98px;
	}
}

@media only screen and (min-width: 960px) {
	html.recording-studio {
		section#recording-studio {
			background: url('../images/room-bg-2.jpg') no-repeat fixed top center;
			background-size: 1151px;
			.back-wall {
				width: $dimensionNum960*15;
				height: $dimensionNum960*10;
				top: 42px;
				margin-left: -234px;
				.wall-cell-container {
					width: $dimensionNum960;
					height: $dimensionNum960;
					.wall-cell, .red, .pink, .purplepink, .purple, 
					.yellowgreen, .yellow, .green, .darkblue, 
					.lightblue, .blue { border-width: ($dimensionNum960/2);}
					p {
						width: $dimensionNum960;
						margin-top: $dimensionNum960/6.2;
					}
				}
			}
			.hvb_pitch {
				bottom: 10px;
			}
			.hvb_record {
				bottom: 97.5px;
			}
			.hvb_stop {
				bottom: 97.5px;
			}
			.hvb_volume {
				bottom: 10px;
			}
			.hvb_sentence {
				bottom: 10px;
			}
			#hvb_play-sentence {
				bottom: 10px;
			}
			#hvb_next-sentence {
				bottom: 10px;
			}
			#hvb_settings {
				bottom: 97.5px;
			}
		}
	}
}

@media only screen and (min-width: 1152px) {
	html.recording-studio {
		section#recording-studio {
			background: url('../images/room-bg-2.jpg') no-repeat fixed top center;
			background-size: 1309px;
			.back-wall {
				width: $dimensionNum1152*15;
				height: $dimensionNum1152*10;
				top: 49.5px;
				margin-left: -264.5px;
				.wall-cell-container {
					width: $dimensionNum1152;
					height: $dimensionNum1152;
					.wall-cell, .red, .pink, .purplepink, .purple, 
					.yellowgreen, .yellow, .green, .darkblue, 
					.lightblue, .blue { border-width: ($dimensionNum1152/2);}
					p {
						width: $dimensionNum1152;
						margin-top: $dimensionNum1152/6.2;
					}
				}
			}
			.hvb-pitch {
				bottom: 60px;
			}
			.hvb-record {
				bottom: 147.5px;
			}
			.hvb-stop {
				bottom: 147.5px;
			}
			.hvb-volume {
				bottom: 20px;
			}
			.hvb-sentence {
				bottom: 60px;
			}
			#hvb-play-sentence {
				bottom: 60px;
			}
			#hvb-next-sentence {
				bottom: 60px;
			}
			#hvb-settings {
				bottom: 147.5px;
			}
		}
	}
}

@media only screen and (min-width: 1310px) {
	html.recording-studio {
		section#recording-studio {
			background: url('../images/room-bg-2.jpg') no-repeat fixed top center;
			background-size: 1439px;
			.back-wall {
				width: $dimensionNumSmall*15;
				height: $dimensionNumSmall*10;
				top: 54.5px;
				margin-left: -291px;
				.wall-cell-container {
					width: $dimensionNumSmall;
					height: $dimensionNumSmall;
					.wall-cell, .red, .pink, .purplepink, .purple, 
					.yellowgreen, .yellow, .green, .darkblue, 
					.lightblue, .blue { border-width: ($dimensionNumSmall/2);}
					p {
						width: $dimensionNumSmall;
						margin-top: $dimensionNumSmall/6.2;
					}
				}
			}
			.hvb-pitch {
				bottom: 60px;
			}
			.hvb-record {
				bottom: 147.5px;
			}
			.hvb-stop {
				bottom: 147.5px;
			}
			.hvb-volume {
				bottom: 20px;
			}
			.hvb-sentence {
				bottom: 60px;
			}
			#hvb-play-sentence {
				bottom: 60px;
			}
			#hvb-next-sentence {
				bottom: 60px;
			}
			#hvb-settings {
				bottom: 147.5px;
			}
		}
	}
}

@media only screen and (min-width: 1440px) {
	html.recording-studio {
		section#recording-studio {
			background: url('../images/room-bg-2.jpg') no-repeat fixed top center;
			background-size: 1599px;
			.back-wall {
				width: $dimensionNum1440*15;
				height: $dimensionNum1440*10;
				top: 60px;
				margin-left: -322.75px;
				.wall-cell-container {
					width: $dimensionNum1440;
					height: $dimensionNum1440;
					.wall-cell, .red, .pink, .purplepink, .purple, 
					.yellowgreen, .yellow, .green, .darkblue, 
					.lightblue, .blue { border-width: ($dimensionNum1440/2);}
					p {
						width: $dimensionNum1440;
						margin-top: $dimensionNum1440/6.2;
					}
				}
			}
			.hvb-pitch {
				bottom: 60px;
			}
			.hvb-record {
				bottom: 147.5px;
			}
			.hvb-stop {
				bottom: 147.5px;
			}
			.hvb-volume {
				bottom: 20px;
			}
			.hvb-sentence {
				bottom: 60px;
			}
			#hvb-play-sentence {
				bottom: 60px;
			}
			#hvb-next-sentence {
				bottom: 60px;
			}
			#hvb-settings {
				bottom: 147.5px;
			}
		}
	}
}

@media only screen and (min-width: 1600px) {
	html.recording-studio {
		section#recording-studio {
			background: url('../images/room-bg-2.jpg') no-repeat fixed top center;
			.back-wall {
				width: $dimensionNumLarge*15;
				height: $dimensionNumLarge*10;
				top: 64px;
				margin-left: -371.5px;
				.wall-cell-container {
					width: $dimensionNumLarge;
					height: $dimensionNumLarge;
					.wall-cell, .red, .pink, .purplepink, .purple, 
					.yellowgreen, .yellow, .green, .darkblue, 
					.lightblue, .blue { border-width: ($dimensionNumLarge/2);}
					p {
						width: $dimensionNumLarge;
						margin-top: $dimensionNumLarge/6.2;
					}
				}
			}
			.hvb-pitch {
				bottom: 60px;
			}
			.hvb-record {
				bottom: 147.5px;
			}
			.hvb-stop {
				bottom: 147.5px;
			}
			.hvb-volume {
				bottom: 20px;
			}
			.hvb-sentence {
				bottom: 60px;
			}
			#hvb-play-sentence {
				bottom: 60px;
			}
			#hvb-next-sentence {
				bottom: 60px;
			}
			#hvb-settings {
				bottom: 147.5px;
			}
		}
	}
}

@media only screen and (min-width: 1824px) {
	html.recording-studio {
		section#recording-studio {
			background: url('../images/room-bg-lg.jpg') no-repeat fixed top center;
			background-size: 2100px;
			.back-wall {
				width: $dimensionNumLarger*15;
				height: $dimensionNumLarger*10;
				top: 90px;
				margin-left: -513.5px;
				.wall-cell-container {
					width: $dimensionNumLarger;
					height: $dimensionNumLarger;
					.wall-cell, .red, .pink, .purplepink, .purple, 
					.yellowgreen, .yellow, .green, .darkblue, 
					.lightblue, .blue { border-width: ($dimensionNumLarger/2)+1;}
					p {
						font-size: 28px;
						width: $dimensionNumLarger;
						margin-top: $dimensionNumLarger/6.2;
					}
				}
			}
			.hvb-pitch {
				bottom: 60px;
			}
			.hvb-record {
				bottom: 147.5px;
			}
			.hvb-stop {
				bottom: 147.5px;
			}
			.hvb-volume {
				bottom: 20px;
			}
			.hvb-sentence {
				bottom: 60px;
			}
			#hvb-play-sentence {
				bottom: 60px;
			}
			#hvb-next-sentence {
				bottom: 60px;
			}
			#hvb-settings {
				bottom: 147.5px;
			}
		}
	}
}