body.page-terms {

  #us-about {
    height: 400px;
    background: #111;
    h1 { font-weight: bold; text-align: center; color: #fff; border: 4px solid #fff; margin: 175px auto 0 auto; padding: 10px 30px; max-width: 500px;}
  }

  #us-about-text {
    padding: 50px 0;
    h2 { font-weight: bold; }
    ul { list-style-type: none; margin-bottom: 30px; }
    ul li { margin-bottom: 20px; }
  }

}