@mixin bs-extend-span($spanNum) {
  @include grid-core-span($spanNum, $gridColumnWidth, $gridGutterWidth);
  float: left;
  min-height: 1px;
  margin-left: $gridGutterWidth;
  }
  
@mixin background-size($backgroundSize) {
  -webkit-background-size: $backgroundSize;
  -moz-background-size: $backgroundSize;
  background-size: $backgroundSize;
  -o-background-size: $backgroundSize;
}

@mixin header() {
  font-family: $header-font;
  font-weight: 700;
  text-transform: uppercase;
}